<div class="container-fluid">
	<h2>Adicionar un nuevo platillo</h2>
	<div class="row">
		<div class="col-md-12">
			<form role="form">
				<div class="form-group">
					<label>Nombre</label>
					<input type="text" ng-model="saucer.nombreP" placeholder="Nombre del platillo" class="form-control"/>
				</div>
				<div class="form-group">					 
					<label>Precio</label>
					<input type="number" ng-model="saucer.precio" placeholder="Precio del platillo" class="form-control"/>
				</div>
				<div class="form-group">
					<label>Categoria</label>
					<input type="text" ng-model="saucer.categoria" placeholder="Categoria del platillo" class="form-control"/>
				</div>
				<div class="form-group">					 
					<label>Restaurante</label>
					<select ng-model="saucer.restaurante">
						<option ng-repeat="restaurant in restaurants" value="{{restaurant._id}}" class="form-control">{{restaurant.nombreR}}</option>
					</select>
				</div>
  				<button ng-click="postSaucer()" class="btn btn-success">Adicionar</button>
			</form>
		</div>
	</div>
</div>