<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<h2>Modificar el restaurant</h2>
						<div class="caption">
							<form role="form">
								<div class="form-group">
									<label">Nombre</label>
									<input type="text" ng-model="restaurants[0].nombreR" placeholder="Nombre del restaurant" class="form-control"/>
								</div>
								<div class="form-group">
									<label>Tel&eacute;fono</label>
									<input type="tel" ng-model="restaurants[0].telefono" placeholder="Tel&eacute;fono del restaurant" class="form-control"/>
								</div>
								<div class="form-group">
									<label>Direcci&oacute;n</label>
									<input type="text" ng-model="restaurants[0].direccion" placeholder="Direcci&oacute;n del restaurant" class="form-control"/>
								</div>
								<div class="form-group">
									<label>Horario</label>
									<input type="text" ng-model="restaurants[0].horario" placeholder="Horario del restaurant" class="form-control"/>
								</div>
								<div class="form-group">
									<label>Latitud</label>
									<input type="text" ng-model="restaurants[0].lat" placeholder="Latitud del restaurant" class="form-control"/>
								</div>
								<div class="form-group">
									<label>Longitud</label>
									<input type="text" ng-model="restaurants[0].lng" placeholder="Longitud del restaurant" class="form-control"/>
								</div>
								<div class="form-group">
									<label>Servicio a domicilio</label>
									<input type="text" ng-model="restaurants[0].servicioDomicilio" placeholder="Servicio a domicilio" class="form-control"/>
								</div>
				  				<button ng-click="putRestaurant(restaurants[0])" class="btn btn-success">Aceptar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
